body{
  color: #454546;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  margin: 0 30%;
  background-color: #fff7fa;
}

header {
  background-color: #fff7fa;
  padding-top: 32px;
  padding-bottom: 50px;
}

header h1 {
  position: relative;
  padding: 0.3em;
}
  
header h1:after {
  content: '';
  position: absolute;
  left: 150px;
  bottom: 0;
  width: 50%;
  height: 7px;
  background: repeating-linear-gradient(-45deg, #fa6592, #fa6592 2px, white 2px, white 4px);
  }

.midashi h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.explain {
  position: relative;
  margin: auto;
  padding: 1.2em;
  width: 90%;
  border: 3px solid #fa6592;
  background-color: #fff7fa;  
  border-radius: 8px;
 }

 .title {
  position: absolute;
  left: 20px;
  top: -15px;
  padding: 0 .5em;
  font-weight: bold;
  font-size: 1.1em;
  color: #fa6592;
  background-color: #fff7fa;
 }

.point {
  display: flex;
}

.early_detection {  
  margin-top: 60px;
  margin-bottom: 60px;
}

.photo_1 {
  margin-top: 10px
}

.early_detection p {
  line-height: 1.8;
  margin-left: 12px;
  margin-right: auto;
}

.check {
  padding-left: 15px;
}

.photo_2 {
  position: absolute;
  margin-left: 380px;
  margin-top: 70px
}

.photo_3 {
  position: absolute;
  margin-left: 510px;
  margin-top: 120px
}

span {
  color: #fd5184;
}

.item {
  display: flex;
}

.item_3{  
  font-weight: normal;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.item_3 h1 {
  border-left: 8px solid #479da3;
  border-bottom: 1px solid #479da3;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item_3 p {
  line-height: 1.8;
  margin-left: 12px;
  margin-right: auto;
}

.soudan {
  display: flex;
  margin-top: 50px;
}

footer {
  background-color: #fff7fa; 
  font-weight: normal;
  font-size: 15px;
  margin-top: 60px;
  margin-bottom: 60px;    
  margin-left: auto;
  margin-right: auto;
}

.reference h1 {
  font-size: 20px;
}
